{% extends "builder/builder.html" %}
<!--
    (c) Copyright 2016-2019 CERN for the benefit of the LHCb Collaboration

    This software is distributed under the terms of the GNU General Public
    Licence version 3 (GPL Version 3), copied verbatim in the file "COPYING".

    In applying this licence, CERN does not waive the privileges and immunities
    granted to it by virtue of its status as an Intergovernmental Organization
    or submit itself to any jurisdiction.
-->

{% block question %}
        
        <p class="lead"> {{ description }}</p>


        <form class="choice_form">
            {% for choice in single_choice %}
            <div class="radio">
                <label>
                <input type="radio" name="{{ flag_name }}" value="{{ choice.name }}">
                    {{ choice.meaning }}
                </label>
            </div>
            {% endfor %}
            {% for keyval in get_dict %}
                <input type="hidden" name="{{keyval.0}}" value="{{keyval.1}}">
            {% endfor %}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>



      
{% endblock %}